@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Josefin Sans', sans-serif;
}
/* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}



@layer base {
  :root {
    --base-color: #84888b;
    --base-hover-color: #1B1A55;
  }
}

.nav-btn {
  border: 2px solid var(--base-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in;
  transition: 0.5s ease-out;
  color: var(--base-color);
}
.search-btn {
  border: 2px solid var(--base-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: start;
  align-items: center;
  transition: 0.2s ease-in;
  transition: 0.5s ease-out;
}
.search-btn>div {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in;
  transition: 0.5s ease-out;
  color: var(--base-color);
}
.nav-btn:hover,
.search-btn:hover {
  border-color: var(--base-hover-color);
  color: var(--base-hover-color);
}
